@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local("Russo One"), local("RussoOne-Regular"), url("../fonts/russo-one.woff") format("woff"); }

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: local("Exo 2 Thin"), local("Exo2-Thin"), url("../fonts/exo-2.woff") format("woff"); }

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: local("Exo 2 Extra Bold"), local("Exo2-ExtraBold"), url("../fonts/exo-2-extra-bold-800.woff") format("woff"); }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #ff6600; }
  body header {
    width: 100%;
    height: 100vh;
    display: table; }
    body header .slide1 {
      width: 100%;
      height: 100vh; }
      body header .slide1 .logo {
        padding-bottom: 80px; }
      body header .slide1 nav ul {
        margin: 0;
        padding: 0; }
      body header .slide1 nav li {
        display: inline-block;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px; }
        body header .slide1 nav li a {
          font-family: 'Exo 2', sans-serif;
          font-weight: 800;
          font-size: 20px;
          color: #FFF;
          text-decoration: none;
          border: 0; }
        body header .slide1 nav li:hover a {
          border-bottom: 1px solid #FFF; }
      body header .slide1 .arrow-keys {
        margin-top: 40px; }
  body main a {
    text-decoration: none;
    color: #FFF;
    border-bottom: 1px solid #FFF; }
  body h1 {
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #FFF; }
  body h2, body p {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-weight: 100;
    font-size: 28px;
    color: #FFF; }
  body p {
    font-size: 24px;
    margin-top: 30px; }
    body p b {
      font-size: 28px;
      letter-spacing: 1px; }
      body p b a.no-highlight {
        text-decoration: none;
        border: 0px; }
  body .beauty-list {
    font-family: "Exo 2", sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #FFF;
    margin-left: 40px; }
    body .beauty-list span {
      font-size: 60px; }
  body .how-to-apply li {
    font-size: 30px; }
  body .center-v {
    vertical-align: middle;
    display: table-cell; }
  body .center-h {
    margin: 0 auto;
    text-align: center; }
  body .slide, body .slide-even, body .slide-odd {
    width: 100%;
    height: 100vh;
    display: table;
    text-align: left; }
  body .slide-even {
    background-color: #ff6600; }
  body .slide-odd {
    background-color: #d85e0d; }
  body .content {
    width: 960px;
    max-width: 960px;
    min-height: 400px;
    padding: 10vh 30vh; }

pre.prettyprint{display:block;background-color:#333;font-size:18px;padding:0 15px;word-wrap:break-word}pre .nocode{background-color:none;color:#000}pre .str{color:#ffa0a0}pre .kwd{color:khaki;font-weight:700}pre .com{color:#87ceeb}pre .typ{color:#98fb98}pre .lit{color:#cd5c5c}pre .pln,pre .pun{color:#fff}pre .tag{color:khaki;font-weight:700}pre .atn{color:#bdb76b;font-weight:700}pre .atv{color:#ffa0a0}pre .dec{color:#98fb98}ol.linenums{margin-top:0;margin-bottom:0;color:#AEAEAE}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}@media print{pre.prettyprint{background-color:none}code .str,pre .str{color:#060}code .kwd,pre .kwd{color:#006;font-weight:700}code .com,pre .com{color:#600;font-style:italic}code .typ,pre .typ{color:#404;font-weight:700}code .lit,pre .lit{color:#044}code .pun,pre .pun{color:#440}code .pln,pre .pln{color:#000}code .tag,pre .tag{color:#006;font-weight:700}code .atn,pre .atn{color:#404}code .atv,pre .atv{color:#060}}
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:500&text=Fork%20me%20on%20GitHub);body{overflow-x:hidden}.ribbon{position:absolute;top:42px;width:200px;padding:1px 0;background:#000;color:#eee;-moz-box-shadow:0 0 10px rgba(0,0,0,.5);-webkit-box-shadow:0 0 10px rgba(0,0,0,.5);box-shadow:0 0 10px rgba(0,0,0,.5)}.ribbon.left{left:-42px;-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.ribbon.right{right:-42px;-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.ribbon a,.ribbon a:active,.ribbon a:hover,.ribbon a:visited{display:block;padding:1px 0;height:24px;line-height:24px;color:inherit;text-align:center;text-decoration:none;font-family:'Cabin Condensed',sans-serif;font-size:16px;font-weight:500;border:1px solid rgba(255,255,255,.3);-moz-text-shadow:0 0 10px rgba(0,0,0,.31);-webkit-text-shadow:0 0 10px rgba(0,0,0,.31);text-shadow:0 0 10px rgba(0,0,0,.31)}.ribbon.black{background:#000}.ribbon.red{background:#c00}.ribbon.blue{background:#09e}.ribbon.green{background:#0a0}.ribbon.orange{background:#d80}.ribbon.purple{background:#c0c}.ribbon.grey{background:#888}.ribbon.white{background:#eee;color:#000}